[Unit]
Description="Password Dog password filter"

[Service]
Type=exec
ExecStart=/bin/bash /var/www/cgi-bin/password-dog/start_http.sh
# ExecStop=/usr/libexec/ebtables stop

[Install]
WantedBy=multi-user.target
