[Unit]
Description="Password Dog password filter"

[Service]
Type=exec
ExecStart=/bin/bash BINDIR/password-dog/start_http.sh

[Install]
WantedBy=multi-user.target
