body {
  align-items: center;
  background-color: #000;
  /*
  display: flex;
  justify-content: center;
  */
  height: 100vh;
  color: white;
  font-size: 16px;
}

form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  display: inline-block;
}

.break {
  flex-basis: 100%;
  height: 0;
}

fieldset {
  /* background-color: #25273b; */
  border-radius: 10px;
  box-sizing: border-box;
  padding: 6px;
  border-color: #25273b;
}




.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

select, input {
  /* background-color: #303245; */
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  outline: 0;
  padding: 4px 10px 0px;
}


.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

